.form {
  background-color: #ffffff;
  width: 50rem;
  height: 50rem;
  border-radius: 1rem;
  color: var(--mainText);
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerContent {
  width: 90%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputsSignup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputsSignup label {
  text-align: start;
}

.inputsSignup input {
  border: none;
  outline: none;
  background-color: var(--grey);
  height: 3rem;
  width: 100%;
  border-radius: 0.3rem;
}
.logo {
  position: relative;
  top: 5.5rem;
}
.btnsSignup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.btnsSignup button {
  border: none;
  color: var(--white);
  background-color: var(--blueBg);
  font-size: 16px;
  font-family: var(--font);
  border-radius: 0.3rem;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.btnsSignup button:active {
  background-color: var(--activeBlueBg);
}

.btnsSignup a {
  text-decoration: none;
  color: var(--blueBg);
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__input input {
  padding: 2rem;
  border-radius: 0.3rem;
  font-size: 2rem;
}
