.card {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.113);
  padding: 2rem 0;
  margin-top: 4rem;
}

.card h2 {
  margin: 1rem 0rem 0rem 0rem;
}

.card h5 {
  margin: 0rem;
}

.btn {
  background-color: var(--blueBg);
  border: none;
  font-family: var(--font);
  color: var(--white);
  border-radius: 0.5rem;
  height: 5rem;
  width: 22rem;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--activeBlueBg);
}
