.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  color: var(--white);
  background-color: var(--blueBg);
}

.container {
  margin: 8rem;
  text-align: center;
}
